<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/reset.css">
<link rel="stylesheet" href="css/index.css">
<link rel="icon" href="images/logo.svg">
<title>媽媽便當-訂餐系統</title>

<script src="js/jquery2.2.3.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>

</head>
<body>

<div class="top">
  <h1 class="title" id="title">訂餐系統</h1>
  <div class="ct" id="ct"></div>
</div>
<div class="container" id="app">
  <form >
  <div class="main" id="main">
    <div class="cal">
      <h1>總計金額</h1>
      <div class="total" id="total">0</div>
    </div>
    <div class="cont">
      <div class="c">
        <h1 class="na">葷食</h1>
        <img src="images/lu.png" alt="">
        <div class="sum">
          <span class="ls">數量：</span><input type="number" min="0" class="is" v-model="m1">
        </div>
      </div>
      <div class="c">
        <h1 class="na">素食</h1>
        <img src="images/fruit.jpeg" alt="">
        <div class="sum">
          <span class="ls">數量：</span><input type="number" min="0" class="is" v-model="m2">
        </div>
      </div>
      <div class="c">
        <h1 class="na">葷食(加蛋）</h1>
        <img src="images/lu.png" alt="">
        <div class="sum">
          <span class="ls">數量：</span><input type="number" min="0" class="is" v-model="m3">
        </div>
      </div>
      <div class="c">
        <h1 class="na">素食（加蛋）</h1>
        <img src="images/fruit.jpeg" alt="">
        <div class="sum">
          <span class="ls">數量：</span><input type="number" min="0" class="is" v-model="m4">
        </div>
      </div>
    </div>
    <label for="lname">姓名：</label>
    <input style="font-size:16px;color:black;" type="text" id="name" name="lastname" placeholder="請輸入姓名" v-model="name" ><br>
    <label for="lphone">電話：</label>
    <input style="font-size:16px;color:black;" type="tel" id="num" name="lastname" placeholder="請輸入電話號碼" v-model="num"><br>
    <label for="ltime">取餐時間：</label>
    <input type="datetime-local" name="" id="sel" v-model="time">
    <button type="button" :disabled="sending" @click="submit" class="btn" id="btn" >送出</button>
  </form>
  </div>
  <div class="rec" id="rec">
    <h1>訂單明細</h1>
    <p>領餐請出示此畫面</p>
    <div class="rr">姓名：<span class="as"></span></div>
    <div class="rr">學號：<span class="as"></span></div>
    <div class="rr">葷食：<span class="as"></span> 份</div>
    <div class="rr">葷食（加蛋）：<span class="as"></span> 份</div>
    <div class="rr">素食：<span class="as"></span> 份</div>
    <div class="rr">素食（加蛋）：<span class="as"></span> 份</div>
    <div class="rr">金額：<span class="as"></span> 元</div>
    <div class="rr">取餐：<span class="as"></span></div>
    <div class="rr">日期：<span class="as"></span></div>
    <div class="thx">
      <img src="images/thx.png" alt="">
    </div>
    
</div>
<div class="footer">
  <h2>聯絡方式：<a target="_blank" href="https://line.me/ti/g2/adNI8Y9PLKVmfAUGezgOMmGLsU8-rwsSq7uJgQ?utm_source=invitation&utm_medium=link_copy&utm_campaign=default"> Touch to contact us</a></h2>
  <h2>訂餐時間：當日13:00 ~ 隔日10:00</h2>
</div>
</div>
<script src="js/index.js"></script>
<script src="js/push.js"></script>
</body>
</html>